<template>

  <div id="Transaction" class="transaction">
    <div class="container_transaction">
      <h2>Realizar Denuncia</h2>

      <form v-on:submit.prevent="processComplaint">
        
        <textarea 
          rows="10" cols="50"
          v-model="createComplaint.description"
        ></textarea>
        <br />
        <button type="submit">Realizar Denuncia</button>
      </form>
    </div>
  </div>

</template>


<script>
import gql from "graphql-tag";

export default {
  name: "Complaint",

  data: function() {
    return {
      createComplaint: {
        username: localStorage.getItem("username"),
        description: "",
        date: ""
      },
    };
  },

  methods: {
    processComplaint: async function() {
      
      if (localStorage.getItem("token_access")  === null ||
          localStorage.getItem("token_refresh") === null ) {
        this.$emit("logOut");
        return;
      }

      localStorage.setItem("token_access", "");
      this.createComplaint.date = (new Date()).toISOString();

      await this.$apollo
        .mutate({
          mutation: gql`
            mutation ($refresh: String!) {
              refreshToken(refresh: $refresh) {
                access
              }
            }
          `,
          variables: {
            refresh: localStorage.getItem("token_refresh"),
          },
        })
        .then((result) => {
          localStorage.setItem("token_access", result.data.refreshToken.access);
        })
        .catch((error) => {
          this.$emit("logOut");
          return;
        });
      
      await this.$apollo
        .mutate({
          mutation: gql`
            mutation Mutation($complaint: ComplaintInput!) {
              createComplaint(complaint: $complaint) {
                id
                username
                description
                date
              }
            }
          `,
          variables: {
            complaint: this.createComplaint,
          },
        })
        .then((result) => {
          alert("Denuncia Realizada de Manera Correcta, Revise Historial");
          console.log("Complaint created: ", result);
        })
        .catch((error) => {
          alert("No se pudo registrar la denuncia");
        });
    },
  },
};
</script>


<style>

.transaction {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_transaction {
  border: 3px solid #283747;
  border-radius: 10px;
  width: 25%;
  height: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transaction h2 {
  color: #283747;
}

.transaction form {
  width: 80%;
}

.transaction input {
  height: 40px;
  width: 100%;

  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;

  border: 1px solid #283747;
}

.transaction button {
  width: 100%;
  height: 40px;

  color: #e5e7e9;
  background: #B15196;
  border: 1px solid #e5e7e9;

  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0;
}

.transaction button:hover {
  color: #e5e7e9;
  background: crimson;
  border: 1px solid #283747;
}

</style>
